@import "~normalize.css";

@import "menu";
@import "dragNDrop";
@import "win-menu";
@import "saved-games-menu";
@import "best-scores-menu";
@import "rules-menu";
@import "back-button";
@import "settings-menu";
@import "help-menu";
@import "scroll";

$puzzle-color: #85aa53;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../assets/images/boards.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    margin: 0 10px;
    width: 45%;
    height: 90vh;
    background-color: transparent;
    display: grid;
    grid-template: 'scoreboard' 20% 'main-area' 1fr/1fr;

    @media screen and (max-width: 1279px) {

      & {
        width: 70%;
      }
    }
    @media screen and (max-width: 767px) {

      & {
        width: 100%;
      }
    }

    .scoreboard {
      border-radius: 4px;

      grid-area: scoreboard;
      display: grid;
      grid-template: 'volume time pause moves help' 1fr/ 0.5fr 1fr 1fr 1fr 0.5fr;

      font-size: 35px;
      font-family: Consolas, Georgia, sans-serif;
      color: black;
      background-color: rgba(0, 0, 0, 0.5);

      -moz-user-select: none;
      user-select: none;


      .volume {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $puzzle-color;

        @media screen and (max-width: 767px) {
          & {
            font-size: 20px;
          }
        }

        @media screen and (max-width: 440px) {
          & {
            font-size: 15px;
          }
        }
        @media screen and (max-width: 319px) {
          & {
            font-size: 10px;
          }
        }

        svg {
          cursor: pointer;
        }
      }

      .volume_Off {
        display: flex;
        justify-content: center;
        align-items: center;
        color: red;
        @media screen and (max-width: 767px) {
          & {
            font-size: 20px;
          }
        }
        @media screen and (max-width: 440px) {
          & {
            font-size: 15px;
          }
        }
        @media screen and (max-width: 319px) {
          & {
            font-size: 10px;
          }
        }

        svg {
          cursor: pointer;
        }
      }

      .time {
        grid-area: time;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 25px;
        color: $puzzle-color;
        @media screen and (max-width: 767px) {
          & {
            font-size: 20px;
          }
        }
        @media screen and (max-width: 440px) {
          & {
            font-size: 15px;
          }
        }
        @media screen and (max-width: 319px) {
          & {
            font-size: 10px;
          }
        }

      }

      .pause {
        grid-area: pause;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 25px;
        @media screen and (max-width: 767px) {
          & {
            font-size: 20px;
          }
        }
        @media screen and (max-width: 440px) {
          & {
            font-size: 15px;
          }
        }
        @media screen and (max-width: 319px) {
          & {
            font-size: 10px;
          }
        }

        .pauseBtn {
          cursor: pointer;
          color: $puzzle-color;

          &:hover {
            text-shadow: 0 0 5px $puzzle-color;
          }

        }


      }

      .moves {
        grid-area: moves;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 25px;
        color: $puzzle-color;
        @media screen and (max-width: 767px) {
          & {
            font-size: 20px;
          }
        }
        @media screen and (max-width: 440px) {
          & {
            font-size: 15px;
          }
        }
        @media screen and (max-width: 319px) {
          & {
            font-size: 10px;
          }
        }

      }

      .help {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 767px) {
          & {
            font-size: 20px;
          }
        }
        @media screen and (max-width: 440px) {
          & {
            font-size: 15px;
          }
        }
        @media screen and (max-width: 319px) {
          & {
            font-size: 10px;
          }
        }


        .help-icon {
          cursor: pointer;
          color: $puzzle-color;

          &:hover {
            color: red;
          }
        }

      }


    }

    .main-area {
      position: relative;
      padding: 2px;
      grid-area: main-area;
      display: grid;
      grid-gap: 5px;
      grid-auto-rows: 1fr;

      .puzzle {
        position: relative;

        cursor: pointer;
        background-color: $puzzle-color;
        transition: background-color 0.2s ease-in-out;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 35px;
        font-family: Consolas, Georgia, sans-serif;
        color: white;
        font-weight: 700;
        -moz-user-select: none;
        user-select: none;


        &:hover {
          background-color: #bee38a;
        }
      }

      .empty {
        position: relative;
      }

    }

  }

}


@include menu;
@include dragNDrop;
@include win-menu($puzzle-color);
@include saved-games-menu($puzzle-color);
@include best-scores-menu;
@include rules-menu;
@include back-button;
@include settings-menu($puzzle-color);
@include help-menu($puzzle-color);
@include scroll;











